.GroupWrapper.expand {
  .collapseAnimation {
    animation: sidebarExpandLTR 0.5s ease forwards;
    left: 0;
  }
}

.GroupWrapper.collapse {
  width: var(--width-sidebar-content-collapse) !important;

  .collapseAnimation {
    animation: sidebarCollapseRTL 0.5s ease forwards;
    left: 0;
  }

  .SearchContent span {
    animation: fadeOut 0.1s ease forwards;
  }

  .LogoWrapper {
    padding-inline-start: 0px !important;

    a {
      justify-content: center;

      .LogoFull {
        display: none;
      }

      .Logo {
        display: block;
      }
    }
  }
}

.GroupWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  flex-shrink: 0;
  gap: 1rem;
  width: var(--width-sidebar-content);
  align-items: center;

  --height-logo: 29px;
}

.LogoWrapper {
  display: flex;
  padding-left: 7px;
  width: 100%;
  justify-content: start;
  height: 42px;
  cursor: pointer;
  color: var(--color-black);

  a {
    width: 100%;
    display: flex;
    align-items: center;
    color: currentColor;
    margin: 0px auto;
  }
}

.LogoFull {
  height: var(--height-logo);
  display: block;
}

.Logo {
  height: var(--height-logo);
  display: none;
}

.SearchWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.SearchContent {
  display: flex;
  align-items: center;
}

.SearchIconWrapper {
  margin: 0px 0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 32px;
}
