root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent
