.selector {
  display: flex;
  width: 115px;
  height: 44px;
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: var(--color-popup-hover);
  cursor: pointer;
  border-radius: 4px;
  color: var(--color-placeholder);
  user-select: none;
  position: relative;
}

.selector.selected {
  color: var(--color-opposite);
}

.invalid {
  color: red !important;
}

.iconwrapper {
  color: var(--color-opposite);
  font-size: 16px;
  transition: 0.3s;
}

.show {
  .iconwrapper {
    transform: rotateZ(180deg);
    transition: 0.3s;
  }
}

.listbox {
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  height: 294px;
  overflow: auto;
  color: var(--color-opposite);
  background-color: var(--color-bg-popup-1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  z-index: 10;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-bg-grey);
    transition: background-color 5s ease;
  }
}

.listitem {
  height: 34px !important;
  min-height: 34px !important;
  overflow: auto;
  font-size: 16px;
  padding: 0px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}
