@import 'normalize.css';
@font-face {
  font-family: 'TikTokDisplayFont';
  src: url('../assets/fonts/TikTokDisplayFont-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'TikTokFont';
  src: url('../assets/fonts/TikTokFont-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TikTokFont';
  src: url('../assets/fonts/TikTokFont-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TikTokFont';
  src: url('../assets/fonts/TikTokFont-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-primary: rgb(254, 44, 85);
  --color-primary-hover: rgba(234, 40, 78, 1);
  --color-white: rgb(255, 255, 255);
  --color-bg: rgba(255, 255, 255, 1);
  --color-bg-grey: rgb(242, 242, 242);
  --color-opposite: rgba(0, 0, 0, 1);
  --color-placeholder: rgba(0, 0, 0, 0.34);
  --color-footer: rgba(22, 24, 35, 0.5);
  --color-neutral-1: rgba(0, 0, 0, 0.17);
  --color-neutral-2: rgba(0, 0, 0, 0.12);
  --color-neutral-3: rgba(0, 0, 0, 0.05);
  --color-border: rgba(0, 0, 0, 0.12);

  --font-heading: 'TikTokDisplayFont', Arial, Tahoma, sans-serif;
  --font-paragraph: 'TikTokFont', Arial, Tahoma, sans-serif;

  --padding-sidebar: 1rem;
  --width-sidebar: 15rem;
  --width-sidebar-content: 13rem;
  --height-sidebar-content: 2.5rem;
  --width-sidebar-collapse: 4.5rem;
  --width-sidebar-content-collapse: 2.5rem;
}

[data-theme='dark'] {
  --color-bg: rgba(0, 0, 0, 1);
  --color-bg-grey: rgb(31, 31, 31);
  --color-opposite: rgba(255, 255, 255, 1);
  --color-placeholder: rgba(255, 255, 255, 0.4);
  --color-footer: rgba(255, 255, 255, 0.5);
  --color-neutral-1: rgba(255, 255, 255, 0.17);
  --color-neutral-2: rgba(255, 255, 255, 0.12);
  --color-neutral-3: rgba(255, 255, 255, 0.05);
  --color-border: rgba(255, 255, 255, 0.12);
}
