.MainNavWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.TooltipContent {
  display: flex;
  align-items: center;
}

.TooltipIconWrapper {
  margin-left: 0.25rem;
  margin-right: 0.75rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.collapse.animation {
  opacity: 0;
}

.expand.animation {
  opacity: 1;
}
