.SidenavContainer {
  width: var(--width-sidebar);
  flex-shrink: 0;
  z-index: 99;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: clip hidden;
  overscroll-behavior: contain;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--color-white);
  position: fixed;
  box-sizing: content-box;
}

.GroupWapper {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  flex-shrink: 0;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.LogoWrapper {
  display: flex;
  padding-inline-start: 0.5rem;
  width: var(--width-sidebar-content);
  justify-content: start;
  height: 42px;
  cursor: pointer;
  img {
    width: 118px;
  }
}

.SearchWrapper {
  width: var(--width-sidebar-content);
}

.SearchButton {
  width: 100%;
  height: var(--height-sidebar-content);
  display: flex;
  align-items: center;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  border-radius: calc(var(--height-sidebar-content) / 2);
  letter-spacing: 0.15px;
  cursor: pointer;
}

.SearchIconWrapper {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.SearchLabel {
  font-weight: normal;
  font-size: 14px;
  color: var(--color-black-34);
  margin: 0px 10px 0px 0px !important;
}

.NavWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  scrollbar-width: none;
}

.MainNavWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.TooltipWrapper {
  background-color: var(--color-white);
  border-radius: 5px;

  button {
    width: var(--width-sidebar-content);
    height: var(--height-sidebar-content);
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    background-color: transparent;
  }

  &:hover {
    background-color: var(--color-light-gray);
  }
}

.TooltipContent {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.TooltipIconWrapper {
  margin-right: 0.75rem;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  color: currentColor;
}

.TooltipLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: currentColor;
}

.LoginButtonWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-sidebar-content);
  padding: 1px 0.25rem;

  button {
    width: 100%;
    height: var(--height-sidebar-content);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;

    &:hover {
      background-color: var(--color-primary-hover);
    }

    div {
      font-size: 16px;
    }
  }
}

.SubNavWrapper {
  width: var(--width-sidebar-content);
  padding: 0px 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FooterWrapper {
  width: 100%;
  border-top: 1px solid var(--color-gray-12);
  padding-top: 1rem;

  h4 {
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    font-weight: 700;
    color: var(--color-gray-50);
    margin-top: 5px;
    margin-bottom: 0px;
  }

  h4:first-child {
    margin-top: 0px;
  }

  span {
    color: var(--color-gray-50);
    font-weight: 600;
    font-size: 12px;
    line-height: 1rem;
    display: block;
    margin-top: 5px;
  }
}
