.wrapper {
  display: none;
}

.wrapper.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 437px;
  scrollbar-width: none;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
}

.title-method {
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

  span {
    color: var(--color-link);
    font-size: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.submitbutton {
  user-select: none;
  height: 44px;
  min-height: 44px;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitbutton.disabled {
  background-color: var(--color-popup-bg-disabled);
  color: var(--color-footer);
  pointer-events: none;
}

.loading {
  cursor: not-allowed;
  color: var(--color-placeholder) !important;
  .loadingIcon {
    display: flex;
  }
}

.loadingIcon {
  display: none;
  align-items: center;
  justify-content: center;
  animation: 1s linear 0s infinite normal none running loading-animation;
  margin-left: 4px;
  color: inherit;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
