.wrapper {
  display: none;
}

.wrapper.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 437px;
  scrollbar-width: none;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
}

.title-birthday {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.age-selector {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.age-validation {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  text-align: left;
  width: 100%;
  color: var(--color-footer);
}

.age-validation.notvalid {
  color: red;
}

.title-method {
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

  span {
    color: var(--color-link);
    font-size: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.inputwrapper {
  background-color: var(--color-bg-grey);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  z-index: 0;

  input {
    background-color: transparent;
    padding: 0px 12px;
    color: var(--color-opposite);
    font-size: 16px;
    height: 44px;
    caret-color: var(--color-primary);
    width: 100%;
    font-weight: 400;

    &::placeholder {
      color: var(--color-placeholder);
    }
  }
}

.warningIcon {
  height: 44px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.warningInput {
  border-color: var(--color-warning) !important;
  input {
    color: var(--color-warning) !important;
  }
}

.submitbutton {
  user-select: none;
  height: 44px;
  min-height: 44px;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  margin-bottom: 12px;
}

.submitbutton.disabled {
  background-color: var(--color-bg-grey);
  color: var(--color-footer);
  pointer-events: none;
}

.warningSpan {
  color: var(--color-warning);
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 9px;
  width: 100%;
}
