.wrapper {
  display: none;
}

.wrapper.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
}

.title-birthday {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.age-selector {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.selector {
  display: flex;
  width: 115px;
  height: 44px;
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: var(--color-popup-hover);
  cursor: pointer;
  border-radius: 4px;
  color: var(--color-placeholder);
  user-select: none;
  position: relative;
}

.selector.selected {
  color: var(--color-opposite);
}

.iconwrapper {
  color: var(--color-opposite);
  font-size: 16px;
  transition: 0.3s;
}

.show {
  .iconwrapper {
    transform: rotateZ(180deg);
    transition: 0.3s;
  }
}

.age-validation {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  text-align: left;
  width: 100%;
  color: var(--color-footer);
}

.title-method {
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

  span {
    color: var(--color-link);
    font-size: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.inputwrapper {
  background-color: var(--color-bg-grey);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  z-index: 0;

  input {
    background-color: transparent;
    padding: 0px 12px;
    color: var(--color-opposite);
    font-size: 16px;
    height: 44px;
    caret-color: var(--color-primary);
    width: 100%;

    &::placeholder {
      color: var(--color-placeholder);
    }
  }
}

.sendcodebutton {
  background-color: transparent;
  cursor: not-allowed;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  color: var(--color-placeholder);
  border-left: 2px solid var(--color-border) !important;
  font-size: 16px;
  padding: 0px 16px;
  height: 44px;
  white-space: nowrap;
}

.sendcodebutton.active {
  cursor: pointer;
  color: var(--color-opposite);
}
