.passwordIconWrapper {
  display: flex;
  height: 44px;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-placeholder);
  font-size: 20px;
  margin-right: 12px;
  user-select: none;
}
.pwValidationTitle {
  color: var(--color-opposite);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: block;
  width: 100%;
}

.pwValidationDes {
  color: var(--color-footer);
  font-size: 12px;
  line-height: 15px;
  margin: 4px 0px;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}
