.wrapper {
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-3);
  color: var(--color-opposite);
  border-radius: 999px;

  &:hover {
    background-color: var(--color-neutral-2);
  }
}
