.wrapper {
  background-color: var(--color-neutral-3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  position: relative;
  border: 1px solid var(--color-popup-border);
  border-radius: 4px;
  z-index: 0;

  input {
    background-color: transparent;
    padding: 0px 12px;
    color: var(--color-opposite);
    font-size: 16px;
    height: 44px;
    caret-color: var(--color-primary);
    width: 100%;
    font-weight: 400;

    &::placeholder {
      color: var(--color-placeholder);
    }
  }
}

.warningIcon {
  height: 44px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.warningInput {
  border-color: var(--color-warning) !important;
  input {
    color: var(--color-warning) !important;
  }
}

.warningDes {
  color: var(--color-warning);
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 9px;
  width: 100%;
}

.description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  text-align: left;
  width: 100%;
  color: var(--color-footer);
}

.description.warning {
  color: var(--color-warning);
}
