.MoreHeader {
  height: 4.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  h2 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.3px;
    font-size: 1.25rem;
  }
}

.MoreContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  overflow-y: scroll;
  padding: 0.5rem;
  scrollbar-width: none;

  Button,
  a {
    padding: 0px 0.4rem;
    font-size: 15px;
    line-height: 19px;
  }
}

.Close {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.Back {
  color: var(--color-opposite);
  margin-right: 0.5rem;
}
